In [19]:
import pandas as pd
import json

In [20]:
with open('baby.json') as data_file:
    data = json.load(data_file)
with open('baby2.json') as data_file:
    data2 = json.load(data_file)
with open('baby3.json') as data_file:
    data3 = json.load(data_file)

In [21]:
df_accounts = pd.json_normalize(data, record_path=['AccountAllocations', 'Accounts'
                                                    ])[['Key', 'Description']]
df_accounts2 = pd.json_normalize(data2, record_path=['AccountAllocations', 'Accounts'
                                                    ])[['Key', 'Description']]
df_accounts3 = pd.json_normalize(data3, record_path=['AccountAllocations', 'Accounts'
                                                    ])[['Key', 'Description']]

In [22]:
df_accounts

       Key                           Description
0    Fixed                                 Fixed
1  FixedLT                               FixedLT
2     1YrA                1-Year Indexed Account
3     1YrD         1-Year No Cap Indexed Account
4     1YrF  1-Year High Cap Plus Indexed Account
5      Var                      Variable Account

In [23]:
df_allocations= pd.json_normalize(data, record_path=['FundAllocationFuture'])[['Manager','Allocation']]
df_allocations2= pd.json_normalize(data2, record_path=['FundAllocationFuture'])[['Manager','Allocation']]
df_allocations3= pd.json_normalize(data3, record_path=['FundAllocationFuture'])[['Manager','Allocation']]
merged_allocations=df_allocations.merge(df_allocations2, on='Manager')
merged_allocations=merged_allocations.merge(df_allocations3, on='Manager')

In [24]:
df_allocations

    Manager Allocation
0  Vanguard       100%

In [25]:
df_allocations2

    Manager Allocation
0  Vanguard       100%

In [26]:
df_allocations3

    Manager Allocation
0  Vanguard       100%

In [27]:
merged_allocations

    Manager Allocation_x Allocation_y Allocation
0  Vanguard         100%         100%       100%

In [28]:
# 1) The accounts that are available for the policyholder are labeled Fixed, FixedLT, 1YrA, 
# 1YrD, 1YrF, and Var. The description tab in the json file shows that these labels indicate
# Fixed Account, Fixed Long-Term Account, 1-Year Indexed Account, 1-Year No Cap 
# Indexed Account, 1-Year High Cap Plus Indexed Account, and Variable Account respectively.

In [29]:
# 2) Four summary tables were produced to show the percentage of application each applicant 
# had in each account. The tables are as follows in the notebook, with the first a table for 
# each individual applicant and a combined table for the merged data.

In [30]:
# 3)The policy has acquired five riders. The Conversion rider is automatic and allows you to 
# convert the policy into any cash value life insurance policy available during the 8th 
# policy year. The face amount of which will equal the current Basic Coverage of the 
# current policy The Minimum Indexed Benefit rider is automatic and provides an Indexed 
# Termination Credit (ITC), that results in a credit when the Segment Indexed Interest 
# credited to eligible Indexed Fixed Options is less than the sum of the Indexed Fixed 
# Option charges and Indexed Fixed Option asset charges attributable to the eligible 
# indexed accounts. The ITC will determine many things such as the Net Cash Surrender 
# Value, Death Benefit and minimum Death Benefit. The Overload Protection 3 rider is 
# automatic and guarantees that the policy will not lapse. It can only be exercised if all the 
# conditions for it are met and is provided at no cost until it is exercised. The Short Term 
# No-Lapse Guarantee Rider is optional and guarantees a Death Benefit to the policyholder 
# and requires a minimum premium to be paid. The last rider is the Terminal Illness Rider, 
# which is automatic and gives you access to a portion of the policy’s Basic Coverage face 
# amount if the policyholder has been diagnosed as terminally ill with a life expectancy of less 
# than 12 months.